<h1>Listing carts</h1>
<table>
  <tr>
    <td>Owner</td>
    <td colspan="3">Actions</td>
  </tr>
  <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.user.email %></td>
      <td><%= link_to 'Show', cart %></td>
      <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
      <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>